.featured {
  padding: 49px 84px 96px 108px;
  @media screen and (max-width: 768px) {
    padding: 11px 8px 25px;
  }
  & .wrapper {
    width: 100%;
    max-width: 1548px;
    margin: 0 auto;
    & h3 {
      font-family: Montserrat;
      font-size: 40px;
      font-weight: 500;
      line-height: 44px;
      letter-spacing: -0.4000000059604645px;
      text-align: left;
      margin-bottom: 50px;
      @media screen and (max-width: 768px) {
        font-size: 24px;
      }
    }
    & .products {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(372px, 1fr));
      gap: 20px;
      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      }
      & .product {
        & .product-image {
          position: relative;
          background-color: #f3f5f7;
          padding: 36px 42px;
          box-shadow: 0px 4px 4px 0px #00000040;
          border: transparent;
          border-radius: 10px;
          margin-bottom: 20px;
          @media screen and (max-width: 768px) {
            padding: 19px 23px;
          }
          & img {
            height: 341px;
            width: 288px;
            object-fit: contain;
            @media screen and (max-width: 768px) {
              height: 184px;
              width: 154px;
            }
          }
          & button {
            position: absolute;
            right: 50%;
            top: 341px;
            transform: translate(50%, -100%);
            background-color: var(--primary);
            color: #fff;
            border: transparent;
            border-radius: 4px;
            padding: 15px 75px;
            @media screen and (max-width: 768px) {
              top: 184px;
              border-radius: 1px;
              padding: 7px 38px;
            }
          }
        }
        & .product-description {
          font-family: Montserrat;
          font-size: 20px;
          font-weight: 600;
          line-height: 26px;
          text-align: left;
          color: #000;
          @media screen and (max-width: 768px) {
            font-family: Montserrat;
            font-size: 12px;
            font-weight: 600;
            line-height: 13.98px;
            text-align: left;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
}
